<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    Products</h3>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                      <% @items.each do |item| %>
                        <div class="col-sm-3">

                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">

                                        <div class="price col-md-6">
                                            <h5>
                                                <%= item.name %></h5>
                                            <h5 class="price-text-color">
                                                $<%= item.marked_price %></h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                            </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <%= link_to "Add to Cart", new_item_order_path(item.id), class:"fa fa-shopping-cart hidden-sm",  method: :get %>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
            </div>
    </div>
</div>
